* {
    box-sizing: border-box;
}
.row {
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.column {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.column.end {
    float: right;
}
.half {
    width: calc(100% / 2);
}
.one-third {
    width: calc(100% / 3);
}
.one-fourth {
    width: calc(100% / 4);
}
.two-thirds {
    width: calc(100% / 3 * 2);
}
@function switch-color($color) {
    @if (lightness($color) > 40) {
        @return #222;
    } @else {
        @return #fff;
    }
}