@import url('https://fonts.googleapis.com/css?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

$primary-color: #191d1f;
$secondary-color: #32a7e5;

@mixin six-caps-font($font-weight) {
    font-family: 'Six Caps', sans-serif;
    font-weight: $font-weight;
}

@mixin pt-sans-font ($font-weight) {
    font-family: 'PT Sans', sans-serif;
    font-weight: $font-weight;
}

@mixin arial-font ($font-weight) {
    font-family: Arial, sans-serif;
    font-weight: $font-weight;
}

@import 'gen';
@import 'breakpoints';
@import 'header';
@import 'content';
@import 'modal';
@import 'responsive';
